/*****************************************************
*  CSS declarations go here
*  Naming Convention BEM -->  http://getbem.com/naming/
*  Reset --> https://github.com/richclark/HTML5resetCSS/blob/master/reset.css
*  Typo styles --> https://github.com/visualgui/prowebtype/blob/gh-pages/portfolio/style.css
******************************************************/

/* ============ RESET ============ */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, 
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#59F7DF;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#59F7DF;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ============ GLOBAL ============ */

body {
  font: 100%/1.6 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 2em;
  text-align: left;
}

/* Styling links*/

a {
	color: black;
	text-decoration:none;
	transition: all .5s ease;
	}
a:visited {
	color: black;
	}

a:hover {
	color: #000;
	}

/* Making images responsive */

img {
	border: 1px solid #f1f1f1;
	height: auto;
	margin-top: 1em;
	width: 100%;
	}


h1, h2, h3 {
	margin:0;
	padding:0;
	}

h1 {
	line-height:1.1;
	}


a h3,
a:visited h3,
h1 a,
h1 a:visited {
	color: #444;
	}

a:hover h3,
h1.banner{
    text-align:center;
    font-size: 36px;
    background: #59F7DF
;
    padding: 20px 0px;
    color: white;
    
}
h2 {
	margin-top: .5em;
	text-transform: uppercase;
    font-size: 24px
}

h3 {
	margin: 1.5em 0 0 0;
	line-height:1;
    font-size: 20px;
	}


/* ============ GLOBAL ELEMENTS ============ */

.section__headline {
  border-left: 10px solid #03A9F4;
  padding-left: 20px;
}
/* ============ DASHBOARD PAGE ============ */
div#leftDash,
div#rightDash{
    text-align: center;
    padding-left: 20px;
    border-color: #0D47A1;
    background-color: #B9F6CA


}

.dashboard-section__headline {
  color: #2196F3;
}



/* ============ ASSIGNMENT ROW COMPONENT ============ */
/* ============ ASSIGNMENT TABLE COMPONENT ============ */
/* ============ ASSIGNMENT PAGE ============ */


/* ============ FOOTER ============ */

.footer__heart {
  color: red;
}

/* ============ ============  BREAKPOINTS ============  ============  ====== */

/*640px*/

@media only screen and (min-width: 40em)   {

body {
    margin: 0;
    padding: 0;
    background:white;
    color:#03A9F4
;
	}



} /* end of 640px media */

#checkForm{


}


#dob{
    width:160px;
    text-align: center;
}

.form-check{
    width:500px;
    padding-top:5px;
    margin:auto;
}

.form-group{
    margin:10px 0px;
}

ol>li{
    margin-bottom: 20px;
}
.form-check-label{
    font-weight: 500;
}

input[type="radio"]{
    margin-right:5px ;
   
}

#riskGroup{
    margin-top:20px;
}

.formSub{
    border-bottom:1px solid  #fff;
    padding-bottom: 15px;
    width:50%;
    text-align: center;
    margin: 30px auto;
}

.risks{
    font-weight: 600;
}
.btn{
    border:none;
}

.btn-group{
    width:300px;
    margin:auto;

}
.sub{
    background:#59F7DF;
    margin: 10px auto;
    color:#fff;
    font-weight: 600;
    width:100%;
    padding:10px 0;
    
}

#turnAway{

}

#yesTurn,
#noTurn {
    color: #0D47A1;
}